<div class="aboutwrap">
  <div class="container">
    <h2>Waarin onderscheiden we ons?</h2>
    <div class="aboutrow">
      <div class="aboutcol">
        <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/quality.png" alt="" title="" />
        <h3>Betere prijs-kwaliteit verhouding </h3>
        <ul>
          <li>
            <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/tick.png" alt="" title="" />
            Je hebt direct contact met de landenspecialist die je eerlijk en inhoudelijk advies geeft 

          </li>
          <li>
            <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/tick.png" alt="" title="" />
            Je kan bij ons compleet je eigen reis samenstellen, zonder vaste standaard programma´s 
          </li>
          <li>
            <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/tick.png" alt="" title="" />
            Je verblijft niet in grote toeristenhotels, maar vaak in kleinschaligere accommodaties
          </li>
          <li>
            <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/tick.png" alt="" title="" />
            Meer waar voor je geld, omdat we niet met lokale tussenpersonen werken
          </li>
        </ul>
      </div>
      <div class="aboutcol">
        <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/24x7.png" alt="" title="" />
        <h3> Bereikbaar tijdens je reis</h3>
        <ul>
          <li>
            <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/tick.png" alt="" title="" />
            Je reissom is beschermd door ons garantiefonds STO en het lidmaatschap bij de VVKR
          </li>
          <li>
            <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/tick.png" alt="" title="" />
            We bereiden je gedegen voor op de reis met informatie, lokale tips en logistieke informatie
          </li>
          <li>
            <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/tick.png" alt="" title="" />
            Tijdens de reis zijn we 24/7 bereikbaar voor vragen en ondersteuning en onze whatsappdienst tijdens de reis staat tot je beschikking 
          </li>
        </ul>
      </div>
      <div class="aboutcol">
        <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/sustainable.png" alt="" title="" />
        <h3>Duurzame en eerlijke reizen</h3>
        <ul>
          <li>
            <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/tick.png" alt="" title="" />
            We compenseren de CO2 van beiden je vlucht en het vervoer ter plaatse
          </li>
          <li>
            <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/tick.png" alt="" title="" />
            We betalen onze partners ter plekke goed, zodat het land profijt heeft van je reis
          </li>
          <li>
            <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/tick.png" alt="" title="" />
            Onze winst gaat 100% naar lokale projecten en gemeeschappen 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
