<div class="footer">
  <div class="footsocial">
    <div class="container">
      <div class="socialwrap">
        <h2>Voor meer reisinspiratie</h2>
       <a href ="{{ socialLinks.facebook }}"> <h4><i class="fab fa-facebook-f"></i> <span>Facebook</span></h4></a>
       <a href ="{{ socialLinks.instagram }}"> <h4><i class="fab fa-instagram"></i> <span>Instagram</span></h4> </a>
        <img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/square/md/footlogo.png" />
      </div>
    </div>
  </div>
  <div class="footcopy">
    <p>
      <i class="far fa-registered"></i> 2019 Barrio-Life. All Rights Reserved.
    </p>
  </div>
</div>
