<div class="trustwrap">
  <div class="container">
    <h2>Reisgarantie & Solide partners</h2>
    <ul>
      <li><img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/original/original/Transavia.png" alt="" title="" /></li>
      <li><img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/original/original/image2.png" alt="" title="" /></li>
      <li><img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/original/original/image3.png" alt="" title="" /></li>
      <li><img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/original/original/travellife-logo.jpg" alt="" title="" /></li>
      <li><img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/original/original/image5.png" alt="" title="" /></li>
      <li><img src="https://s3-eu-west-1.amazonaws.com/media.barrio-life.nl/original/original/image6.png" alt="" title="" /></li>
    </ul>
  </div>
</div>
