<div class="program" id="program">
  <div class="container">
    <div class="titles">
      <h2>Dagprogramma</h2>
      <!-- <h3>Lees hieronder het programma van dag tot dag</h3> -->
    </div>

    <div class="custom-program">
      <div
        class="program-parent"
        *ngFor="let customprogram of program; index as i"
      >
        <div class="title">
            <div class="open-close">
              <i
                *ngIf="activated !== i"
                (click)="display(i)"
                class="fas fa-plus"
              ></i>
              <i *ngIf="activated === i" (click)="hide()" class="fas fa-minus"></i>
          </div>
          <div class="acconmcontent" >
            <span class="day">
              {{ customprogram.day }} - {{ customprogram.title }}
            </span>
          </div>
          <!-- <span class="desc">-{{ customprogram.title }}</span> -->
        </div>
        <div class="program-content" [class.active]="activated === i">
          <div *ngIf="customprogram.image" class="program-img">
            <img src="{{ customprogram.image }}" />
          </div>
          <div class="programtxt" innerHTML="{{ customprogram.content }}"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Pure Css Accordion -->
<!-- <div class="program col" id="program">
  <div class="titles">
    <h2>Dagprogramma</h2>
  </div>
  <div class="tabs">
    <div class="tab" *ngFor="let customprogram of program; index as i">
      <input type="checkbox" id="program{{i}}">
      <label class="tab-label" for="program{{i}}">
        {{ customprogram.day }} - {{ customprogram.title }}
      </label>
      <div class="tab-content">
        <div *ngIf="customprogram.image" class="program-img">
          <img src="{{ customprogram.image }}" />
        </div>
        <div class="programtxt" innerHTML="{{ customprogram.content }}"></div>
      </div>
    </div>
  </div>
</div> -->
