<div class="flightwrap">
  <div class="container">
    <h2>Vluchtschema</h2>

    <table class="flightlist">
      <thead>
        <tr>
          <th data-column="DAG">DAG</th>
          <th data-column="TIJD">TIJD</th>
          <th data-column="ACTIVITEIT">ACTIVITEIT</th>
          <th data-column="LOCATIE(S)/PLAATS">LOCATIE(S)/PLAATS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-column="DAG">Maandag, 7 Mei</td>
          <td data-column="TIJD">Vertrek 16:30 en</td>
          <td data-column="ACTIVITEIT">
            Vlucht met IJsland van Amsterdam naar
          </td>
          <td data-column="LOCATIE(S)/PLAATS">IJsland Schiphol - Abc</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
